$primary: #6DB61B;
$text-dark: #565656;
$text: #808080;
$text-light: #B4B4B4;
$bg-color: #F0F0F0;
$border-color: #D3D3D3;

$gradient-primary: linear-gradient(#6DB61B, #508613);


$box-shadow-level-1: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
$box-shadow-level-2: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.1);
