$primary: #6DB61B;
$text-dark: #565656;
$text: #808080;
$text-light: #dadada;
$bg-color: #f5f5f5;
$border-color: #F2F2F2;

$gradient-primary: linear-gradient(#6DB61B, #508613);


$box-shadow-level-1: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
$box-shadow-level-2: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.1);
